@import url(https//fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic);

body {
	font-family: sans-serif;
	font-family: Helvetica;
	font-family: "Helvetica Neue";
	font-family: Lato;
	font-size: 18px;
	font-weight: 300;

	background-image: url("../img/background.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

div.main {
	margin: 20px; 
	margin-left: 30%; /* overrides left, leaves top, bottom, and right */

	background-: url("../img/ricepaper_v3.png");
	opacity: 0.9;
}

a:link {
	color: #0000AA;
	text-decoration: none;
}

a:visited {
	color: #0000AA;
	text-decoration: none;
}

a:hover {
	color: #0000EE;
}

a:focus {
	color: #0000EE;
}

.head {
	font-family: sans-serif;
	font-family: Helvetica;
	font-family: "Helvetica Neue";
	font-family: Raleway;
	font-weight: 300;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h3 {
	font-size: 150%;
	font-color: #505050;
	margin: 0;
}

dt {
	font-size: 125%;
	font-color: #505050;
}

#page_header {
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom: 5px #EA4A00;
	font-color: #FFFFFF;
}

#tag_line {
	size: 120%;
	color: #EEEEEE;
	margin: 0;
}

#info {
	padding: 1em;
}

#menu {
	padding: 1em;
	background-color: rgb(207, 205, 140);
	background-opacity: 0.5;
}

dt {
	font-weight: 400;
}

dd {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

#about_us {
	padding: 1em;
}

footer {
	padding: 1em;
	background-color: #FC892F;
	border-top: #EC791F 5px;
	font-size: 80%;
	text-align: right;
}
